#start_btn{
	background-color: rgb(127, 193, 226);
	border-radius: 10px;
	margin: 10px 20px 10px 0;
	height: 50px;
     width: 200px;
}

#best_model{
     color: red;
     font-family: "Georgia", Times, "Times New Roman", serif;
     font-weight: bold;
     font-size: 18px;
}

#cancel_btn{
	background-color: rgb(226, 79, 79);
	margin: 10px 20px 10px 0;
	border-radius: 10px;
	height: 50px;
     width: 200px;
}

#vizresult{
     background-color: #3aea9e;
     border-radius: 10px;
}

#file,  #qfile{
     height: 50px;
     width: 250px;
     margin: 0 auto;
     background-color: #77b0f4;
     font-size: 15px;
}

#linea_grid_input, #tienda_grid_input{
     margin: auto;
}


.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 34px;
}

.shiny-notification {
     font-family: "Georgia", Times, "Times New Roman", serif;
     font-weight: bold;
     font-size: 14px;
}

.shiny-progress .progress-text {
     text-align: center;
}

.shiny-progress-notification .progress {
     height: 23px;
}

.shiny-progress-notification {
     font-family: "Georgia", Times, "Times New Roman", serif;
     font-weight: bold;
     font-size: 16px;
     text-align: center;
     width: 350px;
}

.sidebar-menu {
     font-family: "Georgia", Times, "Times New Roman", serif;
     font-weight: bold;
     font-size: 14px;
     text-align: center;
}

#tabset_panel {
     font-size: 14px;
}